<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/login_adduser.css" />
  </head>
  <body>
    <div class="form-wrapper">
      <div class="form-left">
        <div class="logo-login">
          <img class="logo-left" src="../image/Logo.png" alt="Logo" />
        </div>
        <div class="image-login">
          <img
            class="image-left"
            src="../image/login_register.jpg"
            alt="Image"
          />
        </div>
      </div>
      <form action="" class="form-right" method="get">
        <p class="title-right">Add User</p>
        <p class="sub-title-right">Add your user</p>
        <input type="email" class="input-username" placeholder="Email" />
        <input type="password" class="input-password" placeholder="Password" />
        <label for="" class="checkbox-label">
          <input
            type="checkbox"
            class="check-box-terms"
            name=""
            value="check box"
          />
          <p class="terms-check">Staff</p>
        </label>
        <label for="" class="checkbox-label">
          <input
            type="checkbox"
            class="check-box-terms"
            name=""
            value="check box"
          />
          <p class="terms-check">QA-coordinator</p>
        </label>
        <label for="" class="checkbox-label">
          <input
            type="checkbox"
            class="check-box-terms"
            name=""
            value="check box"
          />
          <p class="terms-check">QA-master</p>
        </label>
        <label for="" class="checkbox-label">
          <input
            type="checkbox"
            class="check-box-terms"
            name=""
            value="check box"
          />
          <p class="terms-check">Admin</p>
        </label>
        <button class="login-btn">Add</button>
      </form>
    </div>
  </body>
</html>
